*{
	box-sizing: border-box;
}
body{
	text-align: center;
	font-family: Arial, Helvetica,fantasy;
	background: url('23.jpg') top center;
	margin-right: auto;
}

.box{
	margin-top: 50px;
	float: left;
	width: 90%;
	height: 300px;
	padding: 10px;
	background-color:#cc0000;
	border: 5px black solid;
	border-radius: 25px;
	overflow: auto;
}
#boundary{
	background: url('44.jpg')  no-repeat top center;
}    
.title{
	width: 60%;
	height: 60px;
	text-indent:5%;
	font-size: 2em;
	border: 1px solid black;
	border-bottom-left-radius:25px; 
	background-color:#caf095;
	float: right;
	color:brown;
	margin-bottom: 5px;
	overflow: hidden;
}
.items{
	clear: right;
}

.row{
	margin-top: 0px;
	text-align: left;
	height: 80%;
	background-color:#F7CAC9;
	border-radius: 25px;
}

@media(min-width: 1200px){
	.col-lg-4{
		width: 33.33%;
		float: left;
	}

}
@media(min-width: 950px) and (max-width: 1199px){
	.col-md-6{
		width:50%;
		float: left;
	}
}
@media(min-width: 320px) and (max-width: 445px){
	.col-sm-1{
		width: 160%;
		float: left;
	}
}